html,
body {
    height: 100%;
    /* Hace que el body ocupe toda la pantalla */
    margin: 0;
    /* Quita márgenes por defecto */
    display: flex;
    flex-direction: column;
    /* Organiza todo verticalmente */
}

.page-content {
    flex: 1;
    /* Empuja el footer hacia abajo */
}

.navbar {
    background-color: hsla(221, 14%, 11%, 1);
}

.parrafo {
    padding: 10px;
}

.footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* espacio entre iconos */
    margin-top: 10px;
}